@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.otf');
}
@font-face {
  font-family: Montserrat-medium;
  src: url('./fonts/Montserrat-Medium.otf');
}
@font-face {
  font-family: Montserrat-regular;
  src: url('./fonts/Montserrat-Regular.otf');
}
@font-face {
  font-family: Montserrat-light;
  src: url('./fonts/Montserrat-Light.otf');
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.rectangulo{
  display: flex;
  width: 100%;
  height: 136px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.75);
  background-image: radial-gradient(840px 840px at 0% 0%, #051739 0%, #020e29 17%, #000518 42%, #000212 60%, #000111 64%, #00000e 98%);  
}

/* 43.5 */
.logo{
  height: 59px;
  /* margin-top: 38px; */
  margin-left: 2%;
}

.marginNav{
  margin-top: 9px;
}
.nav-link {
  /* color: rgba(0,0,0,.5); */
  margin-top: 51px  !important;
  /* margin-left: 2%; */
  display: inline  !important;
  color: #ffffff  !important;
  font-family: Montserrat-medium !important;
  font-size: 18px  !important;
  font-weight: 500 !important;
  letter-spacing: 2.24px  !important;
  line-height: 30.38px  !important;
  margin-left: 2rem !important;
}

.navbar-light .navbar-toggler {
  border-color: #e3b419 !important;
}
.navUnete{
  height: 46px;
  margin-left: 2rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(./Assets/menu.svg) !important;
}

.imagenPrincipal{
  width: 100%;
}

.fondoAmarillo{
  background-color: #e3b419;
}


.imagenConoceme{
  width: 141px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.conoceme{
  display: grid;
}

.conocemeTitulo{
  /* Style for "Conóceme" */
color: #080744;
font-family:  Montserrat-Bold !important;
font-size: 35px;
font-weight: 700;
line-height: 61px;
margin-left: auto;
margin-right: auto;
}

.conocemeTxt{
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #e3b419;
  font-family: Montserrat-regular !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 35.6px;
  margin-bottom: 150px;
}

.experiencia{
  display:flex;
}
.gradienteExp{
  width: 20%;
  height: 100vh;
  background-image: linear-gradient(to right, #00000e 2%, #000111 36%, #01061a 62%, #030f2b 86%, #051739 100%);
}

.imagenExperiencia{
  background-image: url(./Assets/imagenExperiencia.png) ;
  background-attachment: fixed;
  background-position: center 1%;
  background-size: cover;
  width: 80%;
  z-index: -1;
}

.variosLayer{
  width: 333px;
  margin-top: 68px;
  margin-left: -114px;
}

.experienciaTitulo{
  color: #ffffff;
  font-family: "Montserrat - Bold";
  font-size: 31px;
  font-weight: 700;
  line-height: 61px;
  /* Text style for "Experienci" */
  font-family:  Montserrat-Bold !important;
  font-weight: 700;
  margin-top: 56px;
  margin-left: 28px;
}

.fecha{
  /* Style for "1982 - 198" */
  color: #ffffff;
  width: 222px;
  font-family: "Montserrat - Bold";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.68px;
  line-height: 24.16px;
  text-align: center;
  /* Text style for "1982 - 198" */
  font-family: Montserrat-Bold !important;
  font-weight: 700;
}

.fechaTexto{
  /* Style for "Supervisor" */
  width: 222px;
  color: #ffffff;
  font-family: "Montserrat - Regular";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.88px;
  line-height: 13.3px;
  text-align: center;
  /* Text style for "Supervisor" */
  font-family: Montserrat-regular !important;
  font-weight: 400;
  margin-top: -10px;
}

.lineaAmarilla{
  width: 102px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  margin-top: -9px;
  background-color: #e3b419;
}

.hist1{
  margin-top: 50px;
  margin-left: 28px;
  width: 222px;
}
.hist2{
  margin-top: 50px;
  margin-left: 28px;
  width: 222px;
  margin-left: 54px;
}

.lineaVertical{
  position: absolute;
  width: 1px;
  background-color: #e3b419;
  height: 239px;
  margin-left: 43px;
  margin-top: 30px;
}

.variosLayer2{
  position: absolute;
  width: 284px;
  margin-top: 150px;
  /* margin-right: -144px; */
  right: -149px;
}

.subtituloHistoria{
  /* Style for "Cargos Ocu" */
  width: 393px;
  color: #ffffff;
  font-family: "Montserrat - Bold";
  font-size: 21px;
  font-weight: 700;
  line-height: 61px;
  /* Text style for "Cargos Ocu" */
  font-family:  Montserrat-Bold !important;
  font-weight: 700;
  margin-left: 28px;
  margin-top: 60px;
  margin-bottom: -10px;
}
.subtextoHistoria{
  /* Style for "Secretario" */
  margin-left: 28px;
  width: 90%;
  color: #ffffff;
  font-family: "Montserrat - Regular";
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 16.85px;
  /* Text style for "Secretario" */
  font-family: Montserrat-regular !important;
  font-weight: 400;
}

.botonCargos{
  display: none !important;
}

.lineaAmarilla2{
/* Style for "Rectángulo" */
width: 100vW;
height: 38px;
background-color: #e3b419;
margin-top: -2px;
    z-index: 100;
}

.areasInteres{
  background-image: url(./Assets/imagenAreas2.png) ;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 135px;
}

.tituloAreasInteres{
  text-align: center;
  /* Style for "Áreas de i" */
color: #080744;
font-family: "Montserrat - Bold";
font-size: 43px;
font-weight: 700;
letter-spacing: 6.15px;
line-height: 62.16px;
/* Text style for "Áreas de i" */
font-family:  Montserrat-Bold !important;
font-weight: 700;
}

.itemAreas{
/* Style for "Seguridad" */
color: #e3b419;
font-family: "Montserrat - Bold";
font-size: 29px;
font-weight: 700;
letter-spacing: 4.17px;
line-height: 30.96px;
/* Text style for "Seguridad" */
font-family: Montserrat-Bold !important;
font-weight: 700;
margin-top: 21px;
margin-right: 23px;
}

.listaAreas{
  margin-left: 2% !important;
  margin-top: 55px;
}
.primerItemAreas{
  text-align: initial;
}

.segundoItemAreas{
  margin-left: 8%;
}

.gradienteBlanco{
  /* Style for "Rectángulo" */
width: 100vw;
height: 83px;
background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 96%);
}

.principios{
  height: 90vh;
}

.tituloPrincipios{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Style for "Principios" */
  height: 116px;
  color: #080744;
  font-size: 51px;
  font-weight: 700;
  line-height: 100.71px;
  /* Text style for "Principios" */
  font-family: Montserrat-Bold !important;
  font-weight: 700;
  margin-top: 13%;
}

.principios1{
  width: 90px;
  margin-left: 7%;
}
.principios2{
  width: 107px;
}
.principios3{
  width: 110px;
}
.principios4{
  width: 135px;
  margin-top: 20px;
}

.principios1Col{
  margin-left: 11%;
}
.principios2Col{
  margin-left: -4%;
}
.principios3Col{
  margin-left: -4%;
}
.principios4Col{
  margin-left: -4%;
}

.rowPrincipios{
  margin-top: 8%;
}
.principiosSubtitle{
  /* Style for "Solidarida" */
  width: 246px;
  height: 56px;
  color: #080744;
  font-size: 24px;
  font-weight: 300;
  line-height: 47.46px;
  /* Text style for "Solidarida" */
  font-family: Montserrat-light;
  font-weight: 300;
}

.principiosSubtittle1{
  margin-top: 35px;
}
.principiosSubtittle2{
  margin-top: 42px;
}
.principiosSubtittle3{
  margin-top: 41px;
  margin-left: 1%;
}
.principiosSubtittle4{
  margin-top: 48px;
  margin-left: 3%;
}

.lineaAmarilla3{
  height: 5.47px;
  background-color: #e3b419;
}
.imagenGrupo{
  background-image: url(./Assets/imagenGrupo.png) ;
  width: 100vw;
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.footer{
  /* Style for "Rectángulo" */
width: 100vw;
height: 50vh;
background-image:  url(./Assets/fondoFooter.png);
background-position: center center;
background-size: cover;
}

.uneteFooter{
  height: 66px;
  margin-top: 10%;
  margin-left: 5%;
}

.logoFooter{
  height: 47.5px;
  margin-top: 10%;
  margin-left: 5%;
}

.siguenos{
  /* Style for "Síguenos" */
color: #ffffff;
font-size: 24px;
font-weight: 300;
line-height: 47.46px;
/* Text style for "Síguenos" */
font-family: Montserrat-light;
font-weight: 300;
display: block;
    margin-top: -5.3%;
    margin-left: 65%;
}

.instagram{
  height: 42px;
  margin-top: -8%;
  margin-left: 78%;
}
.facebook{
  height: 42px;
  margin-top: -8%;
  margin-left: 3%;
}
.twitter{
  height: 42px;
  margin-top: -8%;
  margin-left: 3%;
}

.modalContent .modal-content{
  background-image: radial-gradient(420px 420px at 0% 0%, #051739 0%, #030f2b 14%, #01061a 38%, #000111 64%, #00000e 98%);
  
}
.modalUneteImg{
  width: 75vw;
}

.inputModal{
  border: 0px solid #ced4da !important;
  background-color: transparent !important;
  font-family: Montserrat-Bold !important;
  color: white !important;
}

#nombre{
  position: absolute;
  left: 6%;
  top: 41%;
  font-size: 3.8vw;
  width: 55vw;
}

#email{
  position: absolute;
  left: 6%;
  top: 40%;
  font-size: 2.5vw;
  top: 58%;
  width: 51vw;
}

.textUneteModal{
  font-family: Montserrat-light;
  color: white;
  position: absolute;
  top: 21%;
  left: 8%;
  font-size: 4vw;
}

.modalContent {
  margin-left: 4% !important;
  width: 80vw !important;
  max-width: 100% !important;
}
.modalHeader{
  border-bottom: 0px solid #dee2e6 !important;
  padding-bottom : 0 !important;
  padding-top: 5px !important;
}

.modalFooter{
  border-top: 0px solid #dee2e6 !important;
  display: none !important;

}

.modalHeader .close{
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #e3b419;
  text-shadow: 0 1px 0 #e3b419;
  opacity: .5;
}
.modalHeader .close:hover{
  color: #e3b419;
  text-decoration: none;
}
.modalBody {
  width: 100vw;
  height: 50vh;
  background-image:  url(./Assets/modalUnete.svg);
  background-position: center center;
  background-size: cover;
}

.modal-backdrop.show {
  opacity: 0.9 !important;
}

@media (max-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      margin-left: 1rem !important;
  }
  .imagenConoceme{   
    margin-top: 50px !important;
  }
  .conocemeTxt{
    margin-bottom: 50px !important;
  }
  .gradienteExp{
    display: none;
  }
  .imagenExperiencia{
    background-image: url(./Assets/imagenExperiencia.png) ;
    /* background-attachment: fixed; */
    background-position: 63% -88%;
    background-attachment: inherit;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 64%;

  }
  .variosLayer2{
    display: none;
  }
  .lineaVertical{
    display: none;
  }
  .hist1{
    margin-top: 30px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .hist2{
    margin-top: 30px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .experienciaTitulo{
    width: 100vw;
    text-align: center;
    margin-left: 0;
  }
  .modal-content {
    width: 80% !important;
    margin-left: 30px !important;
  }
  .botonCargos{
    display: inline !important;
    margin-top: 50px;
    margin-left: 30%;
  }
  .subtituloHistoria{
    display: none;
  }
  .subtextoHistoria{
    display: none;
  }
  .areasInteres{
    background-position: 26%;
  }
  .listaAreas{
    margin-left: 0 !important; 
  }
  .itemAreas{
    text-align: center !important;
    font-size: 25px !important;
    margin-right: 0px;
  }
  .areasInteres{
    padding-top: 80px;
  }
  .segundoItemAreas{
    margin-left: 0%;
  }
  .principios1Col{
    margin-left: 29%;
  }
  .principios2Col{
    margin-left: 32%;
  }
  .principios3Col{
    margin-left: 33%;
  }
  .principios4Col{
    margin-left: 31%;
  }
  .principios {
    height: auto;
  }
  .footer{
    background-position: 0% center;
  }

  .uneteFooter{
    height: 66px;
    margin-top: 20%;
    margin-left: 15%;
  }
  
  .logoFooter{
    height: 47.5px;
    margin-top: 20%;
    margin-left: 15%;
  }
  
  .siguenos{
    /* Style for "Síguenos" */
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 47.46px;
  /* Text style for "Síguenos" */
  font-family: Montserrat-light;
  font-weight: 300;
  display: block;
  margin-left: 36%;
  margin-top: 10%;
  }
  
  .instagram{
    height: 42px;
    margin-left: 22%;
    margin-top: 5%;
  }
  .facebook{
    height: 42px;
    margin-left: 15%;
    margin-top: 5%;
  }
  .twitter{
    height: 42px;
    margin-left: 15%;
    margin-top: 5%;
  }
  .experiencia{
    display:block;
  }
}
