@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.otf');
}
@font-face {
  font-family: Montserrat-medium;
  src: url('./fonts/Montserrat-Medium.otf');
}
@font-face {
  font-family: Montserrat-regular;
  src: url('./fonts/Montserrat-Regular.otf');
}
@font-face {
  font-family: Montserrat-light;
  src: url('./fonts/Montserrat-Light.otf');
}

body{
  overflow-x: hidden !important;
  width: 100% !important;
}
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.rectangulo{
  display: flex;
  width: 100%;
  z-index: 100;
  height: 136px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.75);
  background-image: radial-gradient(840px 840px at 0% 0%, #051739 0%, #020e29 17%, #000518 42%, #000212 60%, #000111 64%, #00000e 98%);  
}

/* 43.5 */
.logo{
  height: 59px;
  /* margin-top: 38px; */
  margin-left: 2%;
}

.marginNav{
  margin-top: 9px;
}
.nav-link {
  /* color: rgba(0,0,0,.5); */
  margin-top: 51px  !important;
  /* margin-left: 2%; */
  display: inline  !important;
  color: #ffffff  !important;
  font-family: Montserrat-medium !important;
  font-size: initial  !important;
  font-weight: 500 !important;
  letter-spacing: 2.24px  !important;
  line-height: 30.38px  !important;
  margin-left: 2rem !important;
}

a.nav-link:hover {
  color: #e3b419 !important;
}
.navbar-light .navbar-toggler {
  border-color: none !important;
}
.navUnete{
  height: 46px;
  margin-left: 2rem;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(./Assets/menu.svg) !important;
}

.imagenPrincipal{
  width: 100%;
  animation-name: scales;
  animation-duration: 23s;
  animation-iteration-count: infinite;
  transform-origin: center center;
  z-index: 1;
}

.owl-item.active {
  transform-origin: center center;
}

@keyframes scales{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.035);
  }
  100%{
    transform: scale(1);
  }
}
.fondoAmarillo{
  background-color: #e3b419;
  display: inline-block !important;
  overflow: hidden !important;
}

@keyframes scales2{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.035);
  }
  100%{
    transform: scale(1);
  }
}


.imagenConoceme{
  width: 141px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.conoceme{
  display: grid;
}

.conocemeTitulo{
  /* Style for "Conóceme" */
color: #080744;
font-family:  Montserrat-Bold !important;
font-size: 3rem;
font-weight: 700;
line-height: 61px;
margin-left: auto;
margin-right: auto;
}

.conocemeTxt{
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #e3b419;
  font-family: Montserrat-regular !important;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 35.6px;
  margin-bottom: 150px;
}

.experiencia{
  display:flex;
}
.gradienteExp{
  width: 20%;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to right, #00000e 2%, #000111 36%, #01061a 62%, #030f2b 86%, #051739 100%);
}

.imagenExperiencia{
  background-image: url(https://maximoimage.s3.us-east-2.amazonaws.com/imagenes/imagenExperienciaV2.png) ;
  background-attachment: fixed;
  background-position: center 1%;
  background-size: cover;
  width: 80%;
  z-index: -1;
}

.variosLayer{
  width: 333px;
  margin-top: 68px;
  margin-left: -114px;
}

.experienciaTitulo{
  color: #ffffff;
  font-family: "Montserrat - Bold";
  font-size: 2rem;
  font-weight: 700;
  line-height: 61px;
  /* Text style for "Experienci" */
  font-family:  Montserrat-Bold !important;
  font-weight: 700;
  margin-top: 56px;
  margin-left: 28px;
}

.fecha{
  /* Style for "1982 - 198" */
  color: #ffffff;
  width: 222px;
  font-family: "Montserrat - Bold";
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.68px;
  line-height: 24.16px;
  text-align: center;
  /* Text style for "1982 - 198" */
  font-family: Montserrat-Bold !important;
  font-weight: 700;
}

.fechaTexto{
  /* Style for "Supervisor" */
  width: 222px;
  color: #ffffff;
  font-family: "Montserrat - Regular";
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.88px;
  line-height: 13.3px;
  text-align: center;
  /* Text style for "Supervisor" */
  font-family: Montserrat-regular !important;
  font-weight: 400;
  margin-top: -10px;
}

.lineaAmarilla{
  width: 102px;
  margin-left: 32%;
  margin-right: auto;
  height: 1px;
  margin-top: -9px;
  background-color: #e3b419;
}

.hist1{
  margin-top: 50px;
  margin-left: 28px;
  
}
.hist2{
  margin-top: 50px;
  margin-left: 28px;
  
  margin-left: 54px;
}

.lineaVertical{
  position: absolute;
  width: 1px;
  background-color: #e3b419;
  height: 239px;
  margin-left: 13px;
  margin-top: 30px;
}

.variosLayer2{
  position: absolute;
  width: 284px;
  margin-top: 150px;
  right: -11%;
  overflow: hidden !important;
}

.subtituloHistoria{
  /* Style for "Cargos Ocu" */
  width: 393px;
  color: #ffffff;
  font-family: "Montserrat - Bold";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 61px;
  /* Text style for "Cargos Ocu" */
  font-family:  Montserrat-Bold !important;
  font-weight: 700;
  margin-left: 28px;
  margin-top: 60px;
  margin-bottom: -10px;
}
.subtextoHistoria{
  /* Style for "Secretario" */
  margin-left: 28px;
  width: 90%;
  color: #ffffff;
  font-family: "Montserrat - Regular";
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 1.8px;
  line-height: 16.85px;
  /* Text style for "Secretario" */
  font-family: Montserrat-regular !important;
  font-weight: 400;
}

.botonCargos{
  display: none !important;
}

.lineaAmarilla2{
/* Style for "Rectángulo" */
width: 100vW;
height: 38px;
background-color: #e3b419;
margin-top: -2px;
    z-index: 100;
}

.areasInteres{
  background-image: url(https://maximoimage.s3.us-east-2.amazonaws.com/imagenes/Optimized-imagenAreas2.png) ;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 135px;
}

.tituloAreasInteres{
  text-align: center;
  /* Style for "Áreas de i" */
color: #080744;
font-family: "Montserrat - Bold";
font-size: 3rem;
font-weight: 700;
letter-spacing: 6.15px;
line-height: 62.16px;
/* Text style for "Áreas de i" */
font-family:  Montserrat-Bold !important;
font-weight: 700;
}

.itemAreas{
/* Style for "Seguridad" */
color: #e3b419;
font-family: "Montserrat - Bold";
font-size: 2rem;
font-weight: 700;
letter-spacing: 4.17px;
line-height: 30.96px;
/* Text style for "Seguridad" */
font-family: Montserrat-Bold !important;
font-weight: 700;
margin-top: 21px;
margin-right: 23px;
}

.listaAreas{
  margin-left: 2% ;
  margin-top: 55px;
}
.primerItemAreas{
  text-align: initial;
}

.segundoItemAreas{
  margin-left: 8%;
}

.gradienteBlanco{
  /* Style for "Rectángulo" */
width: 100vw;
height: 83px;
background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 96%);
}

.principios{
  height: 100vh;
}

.tituloPrincipios{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Style for "Principios" */
  height: 116px;
  color: #080744;
  font-size: 3rem;
  font-weight: 700;
  line-height: 100.71px;
  /* Text style for "Principios" */
  font-family: Montserrat-Bold !important;
  font-weight: 700;
  margin-top: 13%;
}

.principios1{
  width: 90px;
  margin-left: 7%;
}
.principios2{
  width: 107px;
}
.principios3{
  width: 110px;
}
.principios4{
  width: 135px;
  margin-top: 20px;
}

.principios1Col{
  margin-left: 11%;
}
.principios2Col{
  margin-left: -4%;
}
.principios3Col{
  margin-left: -4%;
}
.principios4Col{
  margin-left: -4%;
}

.rowPrincipios{
  margin-top: 8%;
  margin-right: 0px !important;
}
.principiosSubtitle{
  /* Style for "Solidarida" */
  width: 246px;
  height: 56px;
  color: #080744;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 47.46px;
  /* Text style for "Solidarida" */
  font-family: Montserrat-light;
  font-weight: 300;
}

.principiosSubtittle1{
  margin-top: 35px;
  margin-left: 9%;
}
.principiosSubtittle2{
  margin-top: 42px;
  margin-left: 4%;
}
.principiosSubtittle3{
  margin-top: 41px;
  margin-left: -5%;
}
.principiosSubtittle4{
  margin-top: 48px;
  margin-left: 3%;
}

.lineaAmarilla3{
  height: 5.47px;
  background-color: #e3b419;
}
.imagenGrupo{
  background-image: url(https://maximoimage.s3.us-east-2.amazonaws.com/imagenes/imagenGrupoV2.png) ;
  width: 100vw;
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.footer{
  /* Style for "Rectángulo" */
width: 100vw;
height: 50vh;
background-image:  url(./Assets/fondoFooter.png);
background-position: center center;
background-size: cover;
}

.uneteFooter{
  height: 66px;
  margin-top: 10%;
  margin-left: 5%;

}

.uneteFooter:hover{
  cursor: pointer;
}
.logoFooter{
  height: 47.5px;
  margin-top: 10%;
  margin-left: 5%;
}

.siguenos{
  /* Style for "Síguenos" */
color: #ffffff;
font-size: 24px;
font-weight: 300;
line-height: 47.46px;
/* Text style for "Síguenos" */
font-family: Montserrat-light;
font-weight: 300;
display: block;
margin-top: -54px;
margin-left: 55%;
}

.instagram{
  height: 42px;
  margin-top: -60px;
  margin-left: 69%;
  position: absolute;
}
.youtube{
  height: 47px;
  margin-top: -62px;
  margin-left: 89%;
  position: absolute;
}
.facebook{
  height: 42px;
  margin-top: -60px;
  margin-left: 76%;
  position: absolute;
}
.twitter{
  height: 42px;
  margin-top: -60px;
  margin-left: 81%;
  position: absolute;
}

.instagram:hover{
  cursor: pointer;
}
.youtube:hover{
  cursor: pointer;
}
.facebook:hover{
  cursor: pointer;
}
.twitter:hover{
  cursor: pointer;
}
.modalContent .modal-content, .modalEnviadoContent .modal-content {
  background-image: radial-gradient(420px 420px at 0% 0%, #051739 0%, #030f2b 14%, #01061a 38%, #000111 64%, #00000e 98%);
}
.modalUneteImg{
  width: 75vw;
}

.inputModal{
  border: 0px solid #ced4da !important;
  background-color: transparent !important;
  font-family: Montserrat-Bold !important;
  color: white !important;
}

#nombre{
  position: absolute;
  left: 6%;
  top: 41%;
  font-size: 3.8vw;
  width: 53vw;
}

#email{
  position: absolute;
  left: 6%;
  top: 40%;
  font-size: 2.5vw;
  top: 58%;
  width: 50vw;
}

.textUneteModal{
  font-family: Montserrat-light;
  color: white;
  position: absolute;
  top: 21%;
  left: 8%;
  font-size: 4vw;
}

.modalContent {
  margin-left: 4% !important;
  width: 80vw !important;
  max-width: 100% !important;
}
.modalEnviadoContent {
  margin-left: 35% !important;
  width: 30vw !important;
  max-width: 100% !important;
  margin-top: 16% !important;
}
.textModalEnviado1{
  font-size: 2rem;
  color: white;
}
.textModalEnviado2{
  color: white;
}
.modalHeader{
  border-bottom: 0px solid #dee2e6 !important;
  padding-bottom : 0 !important;
  padding-top: 5px !important;
}

.modalFooter{
  border-top: 0px solid #dee2e6 !important;
  display: none !important;

}

.close{
  float: right !important;
  font-size: 2.5rem !important;
  font-weight: 200 !important;
  line-height: 1 !important;
  color: #ffc107 !important;
  margin-top: -25px !important;
  text-shadow: -1px 0px 0 #ffc107 !important ;
  opacity: 1 !important;
}

.itemModal{
  text-align: center;
}
.modalHeader .close:hover{
  color: #e3b419;
  text-decoration: none;
}
.modalBody {
  width: 100vw;
  height: 50vh;
  background-image:  url(./Assets/modalUnete.svg);
  background-position: center center;
  background-size: cover;
}

.modal-backdrop.show {
  opacity: 0.9 !important;
}

.enviarModal{
  left: 51%;
  font-family: Montserrat-Bold !important;
  position: absolute;
  top: 75%;
  font-size: 3vw;
  color: white;
  display: none;
}

/* .enviarModal:hover {
  font-size: 4vw;
  cursor: pointer;
} */

.uneteMobile{
  display: none;
  font-family: Montserrat-Bold !important;
}

.uneteMobile:hover{
  cursor: pointer;
}

.variosLayerMobile{
  display:none;
}











/* MOBILE */


@media (max-width: 768px){


  .enviarModal{
    transform: scale(0.5,0.5);
    left: 40%;
    top: 66%;
  }
  .uneteMobile{
    display: inline;
    margin-top: 19px;
    margin-right: 18px;
    font-size: 19px;
    color: white;
  }

  .variosLayerMobile{
    display: block;
    width: 48%;
    position: absolute;
    margin-left: -27%;
    margin-top: -25px;
  }
  .navUnete{
    display:none;
  }
  .logo{
    height: 7vh;
  }
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      margin-left: 1rem !important;
  }
  .imagenConoceme{   
    margin-top: 50px !important;
  }
  .conocemeTxt{
    margin-bottom: 50px !important;
  }
  .gradienteExp{
    display: none;
  }
  .imagenExperiencia{
    /* background-image: url(./Assets/Optimized-imagenExperiencia.png) ; */
    /* background-attachment: fixed; */
    background-position: 63% -88%;
    background-attachment: inherit;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: 64%;

  }
  .variosLayer2{
    display: none;
  }
  .lineaVertical{
    display: none;
  }
  .hist1{
    margin-top: 30px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .hist2{
    margin-top: 30px;
    width: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .experienciaTitulo{
    width: 100vw;
    text-align: center;
    margin-left: 0;
    margin-top: 0px;
  }
  .modalContent .modal-content {
    width: 80% !important;
    margin-left: 30px !important;
    background-color: rgba(00,40,85,0.9) !important;
    color:white;
  }

  .modalEnviadoContent .modal-content {
    /* width: 100% !important; */
    /* margin-left: 14% !important; */
    background-color: rgba(00,40,85,0.9) !important;
    color:white;
  }
  .modalEnviadoContent {
    width: 72% !important;
    margin-left: 9% !important;
    margin-top: 50% !important;
  }

  .modal-header{
    border-bottom: 0px !important;
  }
  .modal-footer{
    border-top: 0px !important;
  }
  .cerrarBtn{
    margin-right: 37%;
    margin-top: -19px;
  }
  .botonCargos{
    display: inline !important;
    margin-top: 50px;
    margin-left: 30%;
  }
  .subtituloHistoria{
    display: none;
  }
  .subtextoHistoria{
    display: none;
  }
  .areasInteres{
    background-position: 26%;
  }
  .listaAreas{
    margin-left: 0 !important; 
  }
  .itemAreas{
    text-align: center !important;
    font-size: 1.7rem !important;
    margin-right: 0px;
  }
  .areasInteres{
    padding-top: 80px;
  }
  .segundoItemAreas{
    margin-left: 0%;
  }
  .principios1Col{
    margin-left: 28%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .principios2Col{
    margin-left: 32%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .principios3Col{
    margin-left: 33%;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .principios4Col{
    margin-left: 31%;
    padding-right: 0px !important;
     padding-left: 0px !important;
  }
  .principios {
    height: auto;
  }
  .footer{
    background-position: 0% center;
  }

  .rowPrincipios{
    margin-left: 4px !important;
  }

  .uneteFooter{
    height: 66px;
    margin-top: 5%;
    margin-left: 15%;
  }
  
  .logoFooter{
    height: 47.5px;
    margin-top: 5%;
    margin-left: 15%;
  }
  
  .siguenos{
    /* Style for "Síguenos" */
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 47.46px;
  /* Text style for "Síguenos" */
  font-family: Montserrat-light;
  font-weight: 300;
  display: block;
  margin-left: 37%;
  margin-top: 10%;
  width: 50%;
  }
  
  .instagram{
    height: 42px;
    margin-left: 12%;
    margin-top: 5%;
    position: relative;
  }
  .youtube{
    height: 42px;
    margin-left: 12%;
    margin-top: 5%;
    position: relative;
  }
  .facebook{
    height: 42px;
    margin-left: 12%;
    margin-top: 5%;
    position: relative;
  }
  .twitter{
    height: 42px;
    margin-left: 12%;
    margin-top: 5%;
    position: relative;
  }
  .experiencia{
    display:block;
  }
  .modalContent .modal-content{
    width: 106% !important;
    margin-left: 4%!important;
    margin-top: 45%;
  }
  #nombre {
    width: 60vw;
  }

}






/* alta resolucion */
@media (min-width: 1800px){


  .navbar-nav .nav-link {
    font-size: 1.5rem !important;
  }

  .experienciaTitulo {
    font-size: 3rem;
  }

  .historia {
    margin-left: 0px !important;
    margin-top: 4%;
  }

  .lineaVertical{
    margin-left: 120px !important;
    width: 2px;
    height: 291px !important;
  }
  .lineaAmarilla{
    height: 2px;
    width: 155px;
    margin-left: 48%;
  }
  .lineaAmarilla.lineaaux {
    margin-left: 100px;
  }
  .fecha{
    font-size: 1.6rem;
    width: 370px;
  }
  .fechaTexto {
    width: 370px !important;
    font-size: 1.2rem;
    line-height: 22.3px;
  }

  .hist2 {
    margin-left: 150px;
  }

  .subtituloHistoria{
    font-size: 2.3rem;
    margin-left: 50px;
    margin-top: 114px;
  }
  .subtextoHistoria {
    margin-left: 51px;
    font-size: 1.4rem;
    line-height: 27.85px;
    margin-top: 60px;
   }

   .conocemeTxt{
    font-size: 1.6rem;
   }

  .tituloAreasInteres{
    font-size: 4.5rem;
    margin-top: 50px;
  }

  .itemAreas {
    font-size: 3rem;
    line-height: 64.96px;
  }

  .listaAreas {
    margin-left: 19% !important;
    margin-top: 6%;
  }

  .segundoItemAreas {
    margin-left: 185px;
  }

  .primerItemAreas {
    margin-left: -105px;
  }

  .tituloPrincipios {
    font-size: 4rem;
  }

  .principiosSubtitle {
    font-size: 2.5rem;
  }

 

  .principios1 {
    width: 155px;
    
  }

  .principios2 {
    width: 190px;
  }

  .principios3 {
    width: 189px;
  }

  .principios4 {
    width: 254px;
    margin-top: 20px;
  }

  .twitter{
    margin-top: -65px;
    height: 60px;
  }
  .facebook{
    margin-top: -65px;
    height: 60px;
  }
  .instagram{
    margin-top: -65px;
    height: 60px;
  }
  .youtube{
    margin-top: -70px;
    height: 75px;
  }

  .siguenos{
    margin-top: -60px;
  }

}